.root {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  padding: 2rem;
  background: var(--black);
  color: var(--white);
  z-index: 10;

  a {
    margin-left: 0.5rem;
    text-decoration: underline;
  }
}
